# ==================================================
# IGNORE EVERYTHING BY DEFAULT
# ==================================================

*

# Always track .gitignore
!.gitignore


# ==================================================
# FOLDERS TO SHARE
# ==================================================

!d_py_functions/
!d_py_functions/**

!Streamlit/
!Streamlit/**

!Images/
!Images/**

# ==================================================
# NEVER SHARE
# ==================================================

# Archive folders anywhere in the repository
archive/
**/archive/

# Mac system files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
*.pyc
__pycache__/
